/*
**************************************
OmbuShop - Tu Tienda Online
**************************************
Theme: Dark Matter
File: shop.css
**************************************
*/

/* === RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }

/* === GENERALES */
body {
  color: #b0967c;
  background-color: #221f1e;
  font: 16px/1em 'Source Sans Pro', "Arial", sans-serif;
  margin-top: 0;
}
body.one-col #content {
  display: inline;
  float: left;
  width: 960px;
}
body.two-col #content {
  display: inline;
  width: 960px;
  font-size: 13px;
}
#all{
  position:relative;
}

a {
  color: #b0967c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: #ffffff;
  color: #ffffff;
  display: none;
}
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1 img { margin: 0; }
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-weight: normal;
  color: #b0967c;
  font-size: 1.2em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  color: #b0967c;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: bold;
  color: #b0967c;
  font-size: 16px;
  margin-bottom: 1em;
}
h6 {
  font-weight: normal;
  color: #b0967c;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0;
}
li ol { margin: 0 1.5em; }
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc;
}
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }
.quiet { color: #666666; }
.loud { color: #111111; }
form p.field {
  margin-bottom: 0.5em;
  clear: both;
}
form p.field span.req {
  color: red;
  float: left;
  margin-left: 2px;
  position: relative;
  top: -3px;
}
input{
  padding: 3px;
  font-size: 13px;
  line-height: 1.4em;
}
input[type="submit"] {
  border:0;
  padding: 3px 25px 3px 5px;
  cursor: pointer;
  background-color: #221F1E;
}
input[type="submit"]:hover {
  opacity: 1;
}
input[type="submit"]:active {
  color: #fff;
}
input#keywords {
  border: 1px solid #221F1E;
  color: #fff;
  padding: 4px 0px 0px;
  background-color:#221F1E;
  border-bottom-color:#888;
  font-size: 14px;
  min-width: 200px;
}
input#keywords:hover, input#keywords:focus {
  border-bottom-color: #fff;
}
input#keywords:hover input[type="submit"], input#keywords:focus input[type="submit"]{
  opacity:1;
}
form p.field input[type=text] {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field select {
  float: left;
  margin: 0 5px 7px 0;
}
form p.field.radios { line-height: 150%; }
label {
  font-weight: 400;
  display: block;
  padding: 5px 0;
  margin-top: 10px;
}
fieldset { margin-bottom: 1em; }
legend {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 0.5em;
}

/* === PAGINAS ESTATICAS */
#wrapper {
  margin: 15px auto 0;
  min-height: 500px;
  padding: 0 1%;
  position: relative;
  color: #ffffff;
  padding-top: 40px !important;
  padding-bottom:0 !important;
  background-image:url(/themes/dark_matter/images/dm_background.png)
}
#page_content{
  width: 960px;
  margin: auto;
  min-height: 400px;
}
/* === ENCABEZADO */
#header {
  min-height: 70px;
  position: relative;
  color: #b0967c;
  clear: both;
  margin: 0 auto;
  width: 960px;
}
#header a { color: #b0967c; text-decoration:none}
#header a:hover { color: #666; }
#header a img{
  border: medium none;
  max-width:200px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/* === PIE */
#footer {
  color: #A6A5A5;
  font-size: 12px;
  padding: 3em 1em 3em 1em;
  clear: both;
  min-height: 100px;
  position: relative;
  margin-top: 30px;
  background-color: #221F1E;
  overflow:hidden;
  margin-right: -1%;
  margin-left: -1%
}
#footer .footer-container{
  width: 960px;
  margin: auto;
}
#footer h1{
  font-size: 1.2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}
.footer-container #contact-info ul{
  margin-left:0;
}
.footer-container #contact-info ul li.phone{
  clear:both;
  float:none;
}

div.store_footer {
  color: #fff;
}
div.store_footer p {
  clear:both;
  color: #A6A5A5;
  padding-top: 10px;
}
#footer div.store_footer {
  width: 320px;
  padding: 0;
  display: block;
  float:left !important;
  overflow: auto;
}
#footer ul.links{
  padding-top:5px;
  padding-bottom: 10px;
}
#footer ul.links a{
  color:#A6A5A5;
  padding: 4px 0;
  display: block;
  text-transform: uppercase;
}
#footer ul.links a:hover{
  color:#b0967c;
  text-decoration:none;
}
#footer #footer-nav{
  width:280px;
  float:left;
}
#footer #footer-nav ul, #ombushop-footer ul{
  margin:0;
}
#footer #ombushop-footer{
  width:300px;
  float:left;
}
#footer-nav{
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #A6A5A5;
  border-left: 1px solid #A6A5A5;
  margin-right: 20px;
  min-height:150px;
}
#footer #follow-us{
  float: left;
  width: 380px;
}
#footer #follow-us #contact-info ul{
  margin-left: 0;
}
#footer a.ombu-tagline{
  clear: both;
  text-align: center;
  padding-top: 10px;
  border-top: 1px solid #A6A5A5;
  margin-bottom: 0;
  margin: auto;
  display: block;
  color:#A6A5A5;
}
#footer a.rights:hover{
  color: #b0967c;
  text-decoration:none;
}
#ombu-footer{margin-bottom: 0;text-align:right;}
#ombu-footer p{margin-bottom:0;}
#ombu-footer img{margin-top: -3px;}


/* === HEADER */
#header {
  position: relative;
  color: #b0967c;
  clear: both;
  height: 70px;
  width: 960px;
  margin: 0 auto;
}
#header a { color: #333; }
#header a:hover { color: #111;background-color:transparent;}

#head_logo{
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: -14px;
  margin-top: 25px;
  max-width: 200px;
  min-height: 70px;
  margin: auto;
}

#head_logo a span {
  display: none;
}

#admin-bar{background-color: #333;text-align: center;}
#login-bar{
  width: 980px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
#login-bar a {
  color:#FFF;
  text-decoration: none;
}
#login-bar a:hover{color:#EEE;}

div#login-bar span.shop-name {
	margin-top: 7px;
}

#cart_bar{
  text-align: right;
  margin: 0 0 1em;
  position: fixed;
  top: 0;
  right: 1%;
}
#cart_bar .cart-indicator {
  list-style-type: none;
}

#cart_bar .cart-indicator a{
  -webkit-border-radius: 0 0 2px 2px;-moz-border-radius: 0 0 2px 2px;border-radius: 0 0 2px 2px;
  background-color: #f9f9f9;
  color: white;
  display: inline-block;
  padding: 5px 38px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  border: 1px solid #221f1e;
  border-top-width: 0px;
  -webkit-transition-duration: 0.5s, 0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
}
#cart_bar .cart-indicator a.empty{color: #221f1e;}
#cart_bar .cart-indicator a:hover{background-color:#888;}
#search_bar{
  float: right;
}
#search_bar label{display:none;}

#search_bar input[type="submit"]{
  background-image: url(/themes/dark_matter/images/search.png);
  background-repeat: no-repeat;
  padding: 3px 18px 3px 5px;
  opacity: 0.6;
  text-indent: -9999px;
}
/* === NAVEGACION */
ul#navigation_bar {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-size: 13px;
  float: left;
}

ul#navigation_bar li {
  float: left;
  overflow: visible;
}

ul#navigation_bar li a {
  color: #fff;
  display: block;
  padding: 7px 15px;
  -webkit-transition: 	all 200ms ease-out;
  -moz-transition: 			all 200ms ease-out;
  -o-transition: 				all 200ms ease-out;
  transition: 					all 200ms ease-out;
  font-family: 'Economica', "Arial", sans-serif, mono;
  text-transform:uppercase;
  letter-spacing:2px;
  font-size:15px;
  -webkit-font-smoothing: antialiased;
  font-weight:600;
  -webkit-transition-duration: 0.5s, 0.5s;
  -moz-transition-duration:0.5s;
  -o-transition-duration:0.5s;
  }

ul#navigation_bar li.current-page a {
  color: #b0967c;
  background: #343434;
}

#wrapper div.static-page-wrapper h1 {
  font-family: 'Source Sans Pro', "Arial", sans-serif;
  font-weight: normal;
  font-size: 2em;
  font-weight:300;
  color: #fff;
}

ul#navigation_bar li a:hover {
  color: #888;
  background-image: none;
}

ul#navigation_bar li a:active {
  color: #888;
  background-image: none;
}

div#ombu-footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  height: 38px;
}
#contact-info ul{
  top: 15px;
  position: relative;
  margin-left: 12px;
  margin-right:0;
}
#contact-info ul li{
  float:left;
  color:#fff;
}
#contact-info ul li a{
  color:#A6A5A5;
  width: 30px;
  display: block;
  font-size: 18px;
}
#contact-info ul li.phone{
  float:right;
  color: #A6A5A5;
}
#contact-info ul li.phone i.fa{
  margin-right: 10px;
  font-size: 18px;
}
#contact-info ul li a:hover{
  color:#B0967C;
}
/* === PAGINACION */
.pagination {
  clear: both;
  margin-top: 30px;
}
.pagination a {
  color: #fff;
  margin: 0 3px;
  padding: 3px 8px;
  text-decoration: none;
  border: #fff solid 1px;
  -webkit-transition: 200ms all;
  -moz-transition:    200ms all;
  -ms-transition:     200ms all;
  -o-transition:      200ms all;
  transition:         200ms all;
}
.pagination span {
  margin: 0 3px;
  padding: 0 5px;
}
.pagination a:hover {
  color: #fff;
}
.pagination a:active {
  color: #b0967c;
}
.pagination a.next_page {  font-weight: 700 }
.pagination span.disabled_page {
  color: #fff;
}
.pagination span.current {
  background-color: #fff;
  color: #000;
  font-weight: 400;
  padding: 3px 8px;
  border: #fff solid 1px;
}
